<div data-component='product' class="product">
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
  <div class="product-back-link">
    <a href={{ collection.url }}>Back to shop</a>
  </div>
  {% include 'product-head' %}
  <section data-component='productSelection'>
    <div class='outer'>
      <div class='container--l mxa'>
        <div class='slater-product f jcb fw'>
          <div class='slater-product__images{%if product.images.size <= 1%} single-image{%endif%}'>
              {% for image in product.images %}
                <div>
                  <img class='block x' src='{{ image.src | img_url: '600x' }}' alt='{{ image.alt | escape }}' />
                </div>
              {% endfor %}
          </div>

          <div class='slater-product__info'>
            <form action='/cart/add' method='post' enctype='multipart/form-data' data-component='productForm'>
              <div class='f aic py1 jcb'>
                <h1>{{ product.title }}</h1>
                <div>
                  <span data-price>{{ current_variant.price | money }}</span>
                  <s data-compare-price>{{ current_variant.compare_at_price | money }}</s>
                </div>
              </div>

              <div class="rte">
                  {{ product.description }}
              </div>

              {% include 'product-options' %}
              {% include 'component-counter' %}

              <div class='py1'>
                {%- capture cta -%}
                  {% if product.available %}
                    Add to Cart
                  {% else %}
                    Out of Stock
                  {% endif %}
                {%- endcapture -%}


                {%- capture ctaclasses -%}
                  {%- if product.available -%}
                    js-add-to-cart in-stock
                  {%- else -%}
                    js-add-to-cart out-of-stock
                  {%- endif -%}
                {%- endcapture -%}
                {%
                  include 'component-button' with
                  tag: 'button',
                  name: 'add',
                  type: 'submit',
                  className: ctaclasses,
                  cta: cta
                %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>