{% assign imgRatio = height | divided_by: width %}
<div class='img-container {{ className }}' data-src='{{ src }}' data-alt='{{ alt }}' style="padding-bottom: {{imgRatio | times: 100}}%">
  <img class='block z1 {%if fill%}x y abs fill{%else%}x rel{%endif%}' alt='{{ alt }}' />
</div>

{% assign src = blank %}
{% assign img = blank %}
{% assign width = blank %}
{% assign height = blank %}
{% assign alt = blank %}
{% assign className = blank %}
{% assign fill = false %}
