<div class='product-options-wrapper rel'>
  {% unless product.has_only_default_variant %}
    
      <div class='py1'>
        {% for option in product.options_with_values %}
          <div class='py05'>
            {%- capture options -%}
              {% for value in option.values %}
                <option value='{{ value | escape }}'
                  {% if option.selected_value == value %}selected{% endif %}>
                  {{ value }}
                </option>
              {% endfor %}
            {%- endcapture -%}
            {%- capture attributes -%}
              data-option-select
              data-index='{{ forloop.index0 }}'
            {%- endcapture -%}
            {%
              include 'component-select' with
              label: option.name,
              name: option.name,
              attributes: attributes
              options: options
            %}
          </div>
        {% endfor %}
      </div>
<!-- 
      <div class='py1'>
        {% for option in product.options_with_values %}
          <div class='py05'>
            <label>{{ option.name }}</label>
            <div class='radio-group f aic' data-option-radio data-index={{ forloop.index0 }}>
              {% for value in option.values %}
                {%
                  include 'component-radio' with
                  label: value,
                  value: value,
                  name: option.name,
                  checked: option.selected_value == value
                %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div> -->
  {% endunless %}
  
  {%- capture options -%}
    {% for variant in product.variants %}
      <option value='{{ variant.id }}'
        data-avalible='{{variant.available}}'
        data-price='{{variant.price | money}}'
        {% if variant == product.selected_or_first_available_variant %}selected{% endif %}
        {% unless variant.available %}disabled{% endunless %}>{{ variant.title }}</option>
    {% endfor %}
  {%- endcapture -%}
  
  <script>
    // (c) Copyright 2016 Caroline Schnapp. All Rights Reserved. Contact: mllegeorgesand@gmail.com
    // See https://docs.shopify.com/themes/customization/navigation/link-product-options-in-menus
    
    var Shopify = Shopify || {};
        Shopify.optionsMap = {};

    
    Shopify.linkOptionSelectors = function(product) {
      console.log(product, product.product.variants)
      // Building our mapping object.
      for (var i=0; i<product.product.variants.length; i++) {
        var variant = product.product.variants[i];
        if (variant.available) {
          // Gathering values for the 1st drop-down.
          Shopify.optionsMap['root'] = Shopify.optionsMap['root'] || [];
          Shopify.optionsMap['root'].push(variant.option1);
          // Shopify.optionsMap['root'] = Shopify.uniq(Shopify.optionsMap['root']);
          // Gathering values for the 2nd drop-down.
          if (product.product.options.length > 1) {
            var key = variant.option1;
            Shopify.optionsMap[key] = Shopify.optionsMap[key] || [];
            Shopify.optionsMap[key].push(variant.option2);
            // Shopify.optionsMap[key] = Shopify.uniq(Shopify.optionsMap[key]);
          }
          // Gathering values for the 3rd drop-down.
          if (product.product.options.length === 3) {
            var key = variant.option1 + ' / ' + variant.option2;
            Shopify.optionsMap[key] = Shopify.optionsMap[key] || [];
            Shopify.optionsMap[key].push(variant.option3);
            // Shopify.optionsMap[key] = Shopify.uniq(Shopify.optionsMap[key]);
          }
        }
      }
    }
    Shopify.linkOptionSelectors(JSON.parse(document.querySelector('.js-product-json').innerHTML));

  </script>

  {%
    include 'component-select' with
    name: 'id'
    options: options
    className: 'js-variant'
    required: true
    attributes: 'data-option-main',
    size: product.variants.size
  %}
</div>