{% paginate collection.products by 24 %}
<div class='collection'>
  <header role="banner" class='mha'>
    <div class='outer'>
      <div class="collection-details">
        {% if section.settings.tags_enable %}
            {% unless collection.all_tags.size == 0 %}
            <!-- TARA https://christopherdodd.com/shopify-collection-filtering/ -->
            {% assign json_product = collection.products.first | json %}         
            <div class="filters-toolbar"> 
                    <span data-component='collectionList'>
                      <button id="filter-category" class="filters-toolbar__label">Filter <span class="chevron">+</span></button>
                      <div class="filters-toolbar__sub_menu">
                          {% for tag in collection.all_tags %}
                              <a class="filters-toolbar__label" href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</a>
                          {% endfor %}
                      </div>
                    </span>
            </div>
            {% endunless %}
        {% endif %}
        <!-- {% if collection.tags %}
        {% for tag in collection.tags %}
          {% if current_tags contains tag %}
            <h3>{{ tag | downcase | capitalize }}</h3>
            {% break %}
          {% endif %}
        {% endfor %}
        {% endif %} -->
        {% if collection.title != blank  %}
          <div class="collection-title">
            {{ collection.title }}
          </div>
        {% endif %}
        {% if collection.description != blank %}
          <div class="collection-desc">
            {{ collection.description }}
          </div>
        {% endif %}
      </div>
    </div>
  </header>

  <section class='collection__grid'>
    <div class='outer'>
      
        <div class='collection__grid__row'>
          {% for product in collection.products %}
            {% assign url = product.url | within: collection %}
            {% assign price = product.price | money %}
            {% assign comparePrice = product.compare_at_price | money %}
            {% assign image = product.featured_image.src | product_img_url: '600x' %}
            {% assign alt = product.featured_image.alt | escape %}

            <div class='collection__grid__item'>
              <a href='{{ url }}'>
                {%
                  include 'component-image' with
                  src: image,
                  alt: alt
                %}
              </a>
              <a href='{{ url }}'>
                <div class="priduct-info">
                <h3>{{ product.title }}</h3>
                  <div class='product-price'>
                    {% if comparePrice > price %}
                      {% if product.price_varies %}
                        from {{ price }}
                      {% else %}
                        {{ price }} 
                        <div><s>{{ comparePrice }}</s></div>
                      {% endif %}
                    {% else %}
                    {% unless product.available %}<span class="price-sold-out">{% endunless %}
                      {% if product.price_varies %}
                        from {{ price }}
                      {% else %}
                        {{ price }}
                      {% endif %}
                    {% unless product.available %}</span>{% endunless %}
                    {% endif %}
                    {% unless product.available %}
                      <div class="sold-out">sold out</div>
                    {% endunless %}
                  </div>
                </div>
              </a>


            </div>
          {% endfor %}
        </div>
    </div>
  </section>

  {% if paginate.pages > 1 %}
    {{ paginate | default_pagination }}
  {% endif %}
</div>

{% endpaginate %}



{% schema %}
{
  "name": {
    "de": "Kategorie-Seiten",
    "en": "Collection pages",
    "es": "Páginas de colección",
    "fr": "Pages de collections",
    "it": "Pagine delle collezioni",
    "ja": "コレクションページ",
    "pt-BR": "Páginas de coleções"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": {
        "de": "Tag-Filtern erlauben",
        "en": "Enable tag filtering",
        "es": "Habilitar filtro de etiquetas",
        "fr": "Activer le filtrage par balises",
        "it": "Attiva filtro tag",
        "ja": "タグでの絞り込みを有効にする",
        "pt-BR": "Ativar filtragem de tags"
      },
      "default": true
    }
  ]
}
{% endschema %}