{% paginate collection.products by 28 %}
<div class='collection' data-component='collectionList'>
  <header role="banner" class='mha collection-header'>
    <div class='outer'>
      <div class="collection-details pb2">
        {% if section.settings.tags_enable %}
            {% if collection.metafields.tags.tags != blank %}
              <!-- TARA https://christopherdodd.com/shopify-collection-filtering/ -->
              {% assign json_product = collection.products.first | json %}         
              <div class="filters-toolbar pb1"> 
                  <button id="filter-category" class="filters-toolbar__label mxa">Filter <span class="chevron">+</span></button>
                  <div class="filters-toolbar__sub_menu container--s py1 mxa">
                    <h4 class="tu pb1">{{collection.metafields.title.title}}</h4>
                      {% assign extraProducts = collection.metafields.tags.tags | split:"|" %}
                        {% for value in extraProducts%}  
                          {% if forloop.first %}
                            {% assign newValue = value | remove: '["' %}
                          {% elsif forloop.last %}
                            {% assign newValue =  value | remove: '"]' %}
                          {% else %}
                            {% assign newValue = value %}
                          {% endif %}
                            <div class="{% if current_tags contains newValue %}selected{% endif %} tu"><a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{newValue | handleize}}">{{newValue}}</a></div>
                        {% endfor %} 
                </div>
              </div>
            {% endif %}
        {% endif %}
        <!-- {% if collection.tags %}
        {% for tag in collection.tags %}
          {% if current_tags contains tag %}
            <h3>{{ tag | downcase | capitalize }}</h3>
            {% break %}
          {% endif %}
        {% endfor %}
        {% endif %} -->
        {% if collection.title != blank  %}
          <div class="collection-title tu">
            {{ collection.title }}
          </div>
        {% endif %}

      </div>
    </div>
  </header>

  <section class='collection__grid pb4'>
    <div class='outer'>
      
        <div class='collection__grid__row f fw jcb'>
          {% assign count = 0 %}
          {% for product in collection.products %}
            {% assign url = product.url | within: collection %}
            {% assign price = product.price | money %}
            {% assign comparePrice = product.compare_at_price | money %}
            {% assign image = product.featured_image.src | product_img_url: '600x650', crop: 'center' %}
            {% assign alt = product.featured_image.alt | escape %}
            {% assign imgObj = product.featured_image %}
           
            {% assign every4 = false %}
            {% if forloop.index == 1 or forloop.index == 10 or forloop.index == 16 %}
              {% assign every4 = true %}
            {% endif %}
          
            {% if every4 %}
            {% assign inter = current_page | minus: 1 | times: 4 | plus: count %} 
            {% assign featureimage = section.blocks[inter].settings.image.src | product_img_url: '600x650', crop: 'center' %}
              {% if section.blocks[inter].settings.image != blank%}
                <div class='collection__grid__item'>
                  {%
                    include 'component-image' with
                    src: featureimage,
                    img: section.blocks[inter].settings.image,
                    width: 600.0,
                    height: 650.0,
                    alt: section.blocks[inter].settings.image.alt | escape 
                  %}
                  {% assign count = count | plus: 1 %}
                </div>
              {% endif %} 
            {% endif %} 
            <div class='collection__grid__item'>
              <a href='{{ url }}'>
                <div class="collection-image relative">
                  {%
                    include 'component-image' with
                    src: image,
                    img: imgObj,
                    width: 600.0,
                    height: 650.0,
                    alt: alt
                  %}
                   {% if product.images.size > 1 %} 
                    <div class="hover-img z1">
                      {% assign hoverIMG = product.images[1].src | img_url: '600x650', crop: 'center' %}
                      {%
                        include 'component-image' with
                        src: hoverIMG,
                        img: product.images[1].src,
                        width: 600.0,
                        height: 650.0,
                        alt: product.images[1].alt | escape
                      %}
                    </div>
                  {% endif %}
                </div>
              </a>

              <a href='{{ url }}'>
                <div class="product-info f jcb fw">
                <h3 class="tu">{{ product.title }}</h3>
                  <div class='product-price tu'>
                    {% unless product.available %}
                      <div class="sold-out">sold out</div>
                    {% endunless %}
                    
                    {% if comparePrice > price %}
                      {% if product.price_varies %}
                        from {{ price }}
                      {% else %}
                        {{ price }} 
                        <div><s>{{ comparePrice }}</s></div>
                      {% endif %}
                    {% else %}
                        {% if product.available %}
                          <span>
                            {% if product.price_varies %}
                              from {{ price }}
                            {% else %}
                              {{ price }}
                            {% endif %}
                          </span>
                        {% endif %}
                    {% endif %}

                  </div>
                </div>
              </a>
            </div>
            {% if forloop.index == 24 %}
              {% assign inter = current_page | minus: 1 | times: 4 | plus: count %} 
              {% assign featureimage = section.blocks[inter].settings.image.src | product_img_url: '600x650', crop: 'center' %}
              {% if section.blocks[inter].settings.image != blank%}
                <div class='collection__grid__item'>
                  {%
                    include 'component-image' with
                    src: featureimage,
                    img: section.blocks[inter].settings.image,
                    width: 600.0,
                    height: 650.0,
                    alt:  section.blocks[inter].settings.image.alt  | escape
                  %}
                  {% assign count = count | plus: 1 %}  
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
    </div>
  </section>

  <div class="container--m py2 ac mxa pagination">
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination: next: 'Older', previous: 'Newer' }}
    {% endif %}
  </div>
{% endpaginate %}

        {% if collection.description != blank %}
        <div class="pb8">
          <div class="outer">
            <div class="collection-desc ser ac mxa">
              {{ collection.description }}
            </div>
          </div>
        </div>
        {% endif %}

{% schema %}
{
  "name": "Collection Settings",
  "settings": [
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": "Enable tag filtering",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image  ",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}

{% endschema %}